{% extends "layout.html" %}
{% block content %}

<h1> {{ room.name }} </h1>

<pre>
{{ room.description }}
</pre>

    {% if room.name == "death" %}
    <p><a href="/">Play Again?</a></p>
    {% else %}
    <div class="container">
    <form class="command" action="/game" method="get">
      <!--  <label for="action">Please enter your command:</label> -->
        <input type="text" placeholder="--Your Command--" name="action"/><br />
        <input type="submit" />
    </form>
    </div>
    <pre></pre> <!--creates space below the text-->
    {% endif %}
    
    {% if room.message %}
        <p style="color:red"><strong> {{ room.message }} </strong></p>
    {% endif %}

{% endblock %}